<section class="TodoSection">
<div class="TodoSectionTitle">

 <h3><%=section_title%></h3>
</div>
<ul>
<h3> Item Price Quantity </h3>
<% customer_items_menu.each do |menu_item|%>
   
  <li class="TodoItem">
    <div class="TodoItem-container">
    
      <p> <%= menu_item.name%>
       <%= menu_item.price%>
      
     
     

       <%= form_tag customer_menu_items_path do %>
        <span class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></span>
        <input type="number" id="number" value="0"  name="quantity"/>
        <span class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></span>

        <%= hidden_field_tag "id", menu_item.id %>
        <%= submit_tag "Submit" %>
      <% end %>

      
      </p>
  </li>
  <%end%>
  </ul>
 
   


</section>