<div class="TodoSection">
<div class="TodoSectionTitle">
   <h3><%=section_title%></h3>
</div>
<table id="menu_items">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

   <% customer_items_menu.each do |menu_item|%>
   <tr>

    <div class="TodoItem-container">
       <td><%= menu_item.name %></td>
       <td><%= menu_item.description %></td>
       <td><%= menu_item.price %></td>
      

       <%= form_tag customer_menu_items_path do %>
      
        <td><span class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value"></span>
        <input type="number" id="number" value="0"  name="quantity"/>
        <span class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></span></td>
        <%= hidden_field_tag "id", menu_item.id %>
        <td class="add_cart_btn"><%= submit_tag "ADD TO CART" %></td>
      
       <% end %>
    </tr>
  
<%end%>
</tbody>
</table>
</div>